/* variables */
:root {
--headlines-text-color:#212121;
--description-text-color:#757575;
--footer-color-background: #2F303A;
--button-color:
--home-color: #2196F3;
}
/* header-footer*/
.tel:hover{
    color:#2196F3;
}

.mailto:hover{
    color: #2196F3;
}

.logo {
    font-family: Raleway;
}

.blu-web{
    color: var(--home-color);
}
