/* variables */
:root {
--headlines-text-color:#212121;
--description-text-color:#757575;
--footer-color-background: #2F303A;
--button-color:#2196F3;
--home-color: #2196F3;
}
body {
    background-color:#fff;
    font-family:Roboto;
    font-size: 14px;
}

/* button */
.service-order {
    background: #2196F3;
}

.button {
  cursor: pointer;
  color:var(--headlines-text-color)
  font-size: 16px;
  
/*text*/

.headlines: var(--headlines-text-color);

.description: var(--description-text-color);

.general-title {
    font-size: 44px;
    color: #FFFFFF;
}
.description {
    font-size: 14px;
    color: var(--description-text-color);
}
.headlines {
    font-size: 14px;
    color: var(--headlines-text-color);
}
.secondary-titles {
    font-size: 36px;
    color: var(--headlines-text-color);
}
